body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav a{
  padding-right: 10px;
  padding-left: 10px;
  background-color: grey;
}

figcaption {
  font-size: 10pt;
}

#featured-property p{
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

section#details{
  display: block;
}

#details div{
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}
